:root {
  --preto: #090909;
  --dourado: #D4AF37;
  --branco: #FFFFFF;
}

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

html { 
  scroll-behavior: smooth; 
}

body { 
  background: var(--preto); 
  color: var(--branco); 
  font-family: 'Poppins', sans-serif; 
}

/* HEADER */
header {
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000;
  background: rgba(9,9,9,0.7); 
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(212,175,55,0.2);
  display: flex; 
  justify-content: space-between; 
  align
